<h2>Signup</h2>

<h2></h2>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <a href="/auth/google"><button class="btn btn-primary">Ironhack Login</button> </a>
  </div>

  <div class="col-md-4">
  </div>

</div>
