<h2>Create Invoice</h2>
<form class="createinvoice" action="/createinvoice" method="post">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <input id="firstname" type="text" name="firstname" placeholder="Firstname">
    <br>
    <input id="lastname" type="text" name="lastname" placeholder="Lastname">
    <br>
    <input id="email" type="text" name="email" placeholder="Email">
    <br>
    <input id="cohort" type="text" name="cohort" placeholder="Cohort">
    <br>
    <input id="program" type="text" name="program" placeholder="Program">
    <br>
    <input id="city" type="text" name="city" placeholder="city">
    <br>
    <input id="balanceDue" type="text" name="balanceDue" placeholder="Balance Due">
    <p>
      <button type=submit class="btn btn-primary">Create Student</button>
    </p>
  </div>
  <div class="col-md-4">
  </div>

</form>
