<h2>Signup</h2>

<h2></h2>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <a href="/auth/google"><button class="btn btn-primary">Ironhack Login</button> </a>
  </div>
  <div class="col-md-4">
  </div>

</div>


<!--
<form action="/login" method="post" id="form-container">
  <div>
    <label for="username"></label>
    <input id="username" type="text" name="username" placeholder="Username">
  </div>

  <div>
    <label for="password"></label>
    <input id="password" type="password" name="password" placeholder="Password">
  </div>

  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>

  <a href="/auth/google"> Login With Google </a>
</form> -->
